---
import Layout from '../../../../layouts/Layout.astro';
import type { GalleryInterface } from '@/@types/types';
import GalleryItem from '@/components/galleries/GalleryItem.astro';
import galleries from '@/data/galleries.json';

const filteredGalleries: GalleryInterface[] = galleries.filter(
  (gallery: GalleryInterface) => gallery.tag === 'sapeurs-pompiers'
);
---

<Layout>
  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-16 space-y-12">
    <header class="text-center space-y-4">
      <h1 class="text-4xl font-bold text-red-500">Sapeurs-pompiers</h1>
      <p class="text-shark-200 text-lg sm:text-xl max-w-3xl mx-auto">
        Découvrez nos reportages photo sur les sapeurs-pompiers, leur travail
        quotidien, leurs interventions et les événements majeurs auxquels ils
        participent.
      </p>
    </header>

    <section class="space-y-8">
      {filteredGalleries.map((gallery) => <GalleryItem {...gallery} />)}
    </section>
  </div>
</Layout>
