---
import Layout from '@/layouts/Layout.astro';
import { IoIosArrowBack } from 'react-icons/io';
import type { MarkdownModule } from '@/@types/types';

export const prerender = true;
const BackIcon = IoIosArrowBack;

// How to open external links in a new tab with Astro Markdown: https://daniel.es/blog/astro-how-to-open-external-links-new-tabs/
// How to add emoji to external links in Astro Markdown: https://docs.astro.build/fr/recipes/external-links/

export async function getStaticPaths() {
  const modules: Record<string, MarkdownModule> = import.meta.glob(
    '@/data/prevention/*.md',
    { eager: true }
  );

  return Object.values(modules).map((mod) => ({
    params: { slug: mod.frontmatter.slug }
  }));
}

const modules: Record<string, MarkdownModule> = import.meta.glob(
  '@/data/prevention/*.md',
  { eager: true }
);

const { slug } = Astro.params;

const articleEntry = Object.values(modules).find(
  (mod) => mod.frontmatter.slug === slug
);

if (!articleEntry) return Astro.redirect('/404');

const { frontmatter, default: Content } = articleEntry;
const authorsList = frontmatter.authors.join(', ');
---

<Layout>
  <div
    class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-12 space-y-8 text-shark-100"
  >
    <a
      href="/prevention/articles"
      class="back-button inline-flex items-center gap-2 text-shark-400 hover:text-shark-200"
    >
      <BackIcon />
      <span>Retour aux articles</span>
    </a>

    <article class="space-y-8">
      <header class="text-center space-y-4">
        <h1
          class="text-4xl sm:text-5xl font-bold leading-tight text-red-orange-500"
        >
          {frontmatter.title}
        </h1>

        <p class="text-sm text-shark-400">
          Par {authorsList}
        </p>

        <div class="flex justify-center mt-1">
          <span class="text-xs text-shark-500">
            Publié le {
              new Date(frontmatter.date).toLocaleDateString('fr-FR', {
                day: '2-digit',
                month: 'long',
                year: 'numeric'
              })
            }
          </span>
        </div>

        {
          frontmatter.summary && (
            <p class="text-shark-100 text-lg sm:text-xl max-w-3xl mx-auto italic mt-4">
              {frontmatter.summary}
            </p>
          )
        }

        {
          frontmatter.coverPictureUrl && (
            <img
              src={frontmatter.coverPictureUrl}
              alt={frontmatter.coverPictureAlt ?? frontmatter.title}
              class="rounded-lg shadow-lg w-full max-h-[450px] object-cover mt-6"
            />
          )
        }
      </header>

      <section
        class="prose prose-invert max-w-4xl mx-auto leading-relaxed
         prose-ul:marker:text-red-500
         prose-a:no-underline prose-a:text-red-500 hover:prose-a:text-red-700"
      >
        <Content />
      </section>
    </article>
  </div>
</Layout>
