@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {

  /* DEV ONLY */
  --color-rolling-stone-50: #f5f6f6;
  --color-rolling-stone-100: #e5e7e8;
  --color-rolling-stone-200: #ced1d3;
  --color-rolling-stone-300: #acb1b4;
  --color-rolling-stone-400: #82898e;
  --color-rolling-stone-500: #71797e;
  --color-rolling-stone-600: #585e62;
  --color-rolling-stone-700: #4b4f53;
  --color-rolling-stone-800: #424548;
  --color-rolling-stone-900: #3a3d3f;
  --color-rolling-stone-950: #242628;

  /* Code Rouge Info BLACK */
  --color-shark-50: #f6f6f5;
  --color-shark-100: #e7e7e6;
  --color-shark-200: #d1d1d0;
  --color-shark-300: #b1b0af;
  --color-shark-400: #8a8a86;
  --color-shark-500: #6f6f6b;
  --color-shark-600: #5f5f5b;
  --color-shark-700: #504f4e;
  --color-shark-800: #464644;
  --color-shark-900: #3d3d3c;
  --color-shark-950: #222221; /* Main */

  /* Code Rouge Info YELLOW */
  --color-turbo-50: #fcfde9;
  --color-turbo-100: #f8fbc6;
  --color-turbo-200: #f5f890;
  --color-turbo-300: #f3f251;
  --color-turbo-400: #ede317; /* Main */
  --color-turbo-500: #decc14;
  --color-turbo-600: #bfa10f;
  --color-turbo-700: #99760f;
  --color-turbo-800: #7f5d14;
  --color-turbo-900: #6c4c17;
  --color-turbo-950: #3f2809;

  /* Code Rouge Info RED */
  --color-red-orange-50: #fff1f1;
  --color-red-orange-100: #ffdfdf;
  --color-red-orange-200: #ffc5c5;
  --color-red-orange-300: #ff9d9d;
  --color-red-orange-400: #ff6464;
  --color-red-orange-500: #ff3333; /* Main */
  --color-red-orange-600: #ed1515;
  --color-red-orange-700: #c80d0d;
  --color-red-orange-800: #a50f0f;
  --color-red-orange-900: #881414;
  --color-red-orange-950: #4b0404;

  /* Code Rouge Info BLUE */
  --color-dark-blue-50: #f1f0ff;
  --color-dark-blue-100: #e6e4ff;
  --color-dark-blue-200: #d0cdff;
  --color-dark-blue-300: #aea5ff;
  --color-dark-blue-400: #8772ff;
  --color-dark-blue-500: #633aff;
  --color-dark-blue-600: #5112ff;
  --color-dark-blue-700: #4101ff;
  --color-dark-blue-800: #3300cc; /* Main */
  --color-dark-blue-900: #2e02b0;
  --color-dark-blue-950: #170078;
  
}

@font-face {
  font-family: "Montserrat-Light";  
  src: local("Montserrat Light"),
    url("./fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Light-Italic";  
  src: local("Montserrat Light Italic"),
    url("./fonts/Montserrat-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";  
  src: local("Montserrat Regular"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular-Italic";  
  src: local("Montserrat Regular Italic"),
    url("./fonts/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";  
  src: local("Montserrat Medium"),
    url("./fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium-Italic";  
  src: local("Montserrat Medium Italic"),
    url("./fonts/Montserrat-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";  
  src: local("Montserrat Bold"),
    url("./fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold-Italic";  
  src: local("Montserrat Bold Italic"),
    url("./fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.html, body {
  font-family: "Montserrat-Regular";
  height: 100%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-shark-50;
  }
}

.cta-button {
  @apply bg-red-orange-500 hover:bg-red-orange-600 text-shark-100 inline-flex items-center gap-2 px-4 py-2 rounded-md shadow transition-all hover:scale-105 hover:cursor-pointer;
}

.navbarLink {
  @apply text-black text-base bg-accent hover:scale-105 transition-all hover:cursor-pointer; 
}

.nav-button {
  @apply inline-block bg-dark-blue-800 text-primary-foreground px-8 py-4 rounded-md hover:scale-105 transition-all hover:cursor-pointer shadow hover:bg-dark-blue-900;
}

.back-button {
  @apply inline-flex items-center text-sm text-dark-blue-400 hover:text-dark-blue-500 transition-colors space-x-3 mb-4;
}