---
import Layout from '../../layouts/Layout.astro';
import RecruitementForm from '@/components/forms/RecruitementForm.astro';
---

<Layout>
  <h2>Rejoindre l'équipe de Code Rouge Info</h2>
  <p>
    Envie de contribuer à nos reportages et à nos actions de sensibilisation ? <br
    />
    Remplissez simplement le formulaire ci-dessous et nous vous contacterons rapidement.
  </p>
  <RecruitementForm />
</Layout>
