---
import Layout from '../layouts/Layout.astro';
import { MdOutlineEmail } from 'react-icons/md';
import { FiPhone } from 'react-icons/fi';

const EmailIcon = MdOutlineEmail;
const PhoneIcon = FiPhone;
---

<Layout>
  <section class="hero-section grid md:grid-cols-2 gap-8 px-6 md:px-16 py-16">
    <div class="flex justify-center items-center">
      <img
        src="https://picsum.photos/650/450"
        alt="Lorem Ipsum"
        class="object-cover rounded-xl shadow-md w-full max-w-md md:max-w-full"
      />
    </div>

    <div class="flex flex-col justify-center h-full space-y-6 text-shark-100">
      <h1 class="text-4xl md:text-5xl font-bold text-red-orange-500">
        Contact
      </h1>
      <p class="text-lg md:text-xl max-w-lg text-shark-200">
        Une question, une suggestion, une demande de partenariat&nbsp;?
        Contactez-nous&nbsp;!
      </p>

      <div class="flex flex-col space-y-4">
        <div class="flex items-center space-x-2">
          <EmailIcon />
          <a
            href="mailto:contact@coderougeinfo.fr"
            class="text-lg hover:text-red-orange-400 transition-colors"
          >
            contact@coderougeinfo.fr
          </a>
        </div>

        <div class="flex items-center space-x-2">
          <PhoneIcon />
          <a
            href="tel:+33620899954"
            class="text-lg hover:text-red-orange-400 transition-colors"
          >
            +33 6 20 89 99 54
          </a>
        </div>
      </div>
    </div>
  </section>
</Layout>
