---
import type { SectionInterface } from '../@types/types';
import { convertToSmartApostrophe } from '@/utils/formatText';

const NAV_TREE: SectionInterface[] = [
  {
    label: "L'association",
    path: 'association',
    pages: [
      { label: 'Qui sommes-nous ?', path: 'a-propos' },
      { label: 'Nos partenaires', path: 'partenaires' },
      { label: 'Recrutement', path: 'recrutement' },
      { label: 'Nous soutenir', path: 'nous-soutenir' }
    ]
  },
  {
    label: 'Prévention',
    path: 'prevention',
    pages: [
      { label: 'Bonnes pratiques', path: 'bonnes-pratiques' },
      { label: 'Dangers', path: 'dangers' }
    ]
  },
  {
    label: 'Reportages',
    path: 'reportages',
    pages: [
      { label: 'Articles', path: 'articles' },
      { label: 'Sapeurs-pompiers', path: 'galeries/sapeurs-pompiers' }
    ]
  },
  {
    label: 'Contact',
    path: 'contact',
    pages: []
  }
];
---

<nav
  class="grid grid-cols-2 gap-6
    md:flex md:gap-12 md:justify-end
    text-center md:text-left"
>
  {
    NAV_TREE.map((section) => (
      <div class="flex flex-col space-y-2">
        <h3 class="font-semibold text-sm uppercase tracking-wide">
          {convertToSmartApostrophe(section.label)}
        </h3>

        {section.pages?.map((page) => (
          <a
            href={`/${section.path}/${page.path}`}
            class="text-gray-300 hover:text-white transition-colors"
          >
            {convertToSmartApostrophe(page.label)}
          </a>
        ))}
      </div>
    ))
  }
</nav>
