---
import type { SectionInterface } from '../@types/types';
import { convertToSmartApostrophe } from '@/utils/formatText';

const NAV_TREE: SectionInterface[] = [
  {
    label: "L'association",
    path: 'association',
    pages: [
      { label: 'Qui sommes-nous ?', path: 'a-propos' },
      { label: 'Nos partenaires', path: 'partenaires' },
      { label: 'Recrutement', path: 'recrutement' },
      { label: 'Nous soutenir', path: 'nous-soutenir' }
    ]
  },
  {
    label: 'Prévention',
    path: 'prevention',
    pages: [
      { label: 'Bonnes pratiques', path: 'bonnes-pratiques' },
      { label: 'Dangers', path: 'dangers' }
    ]
  },
  {
    label: 'Reportages',
    path: 'reportages',
    pages: [
      { label: 'Articles', path: 'articles' },
      { label: 'Sapeurs-pompiers', path: 'galeries/pompiers' }
    ]
  }
];
---

<nav class="flex gap-12 justify-end">
  {
    NAV_TREE.map((section) => (
      <div class="flex flex-col space-y-2">
        <h3 class="page-label font-semibold">
          {convertToSmartApostrophe(section.label)}
        </h3>
        {section.pages?.map((page) => (
          <a href={`/${section.path}/${page.path}`}>
            {convertToSmartApostrophe(page.label)}
          </a>
        ))}
      </div>
    ))
  }
</nav>
