---
import { FaFacebookSquare, FaInstagram, FaLinkedin } from 'react-icons/fa';
import NavigationTree from '../atoms/NavigationTree.astro';

export const SOCIAL_LINKS = [
  {
    Icon: FaLinkedin,
    href: 'https://www.linkedin.com/company/50323414/',
    ariaLabel: 'Vers la page LinkedIn de Code Rouge Info'
  },
  {
    Icon: FaInstagram,
    href: 'https://www.instagram.com/coderougeinfo.fr/',
    ariaLabel: 'Vers la page Instagram de Code Rouge Info'
  },
  {
    Icon: FaFacebookSquare,
    href: 'https://www.facebook.com/profile.php?id=61573753883070',
    ariaLabel: 'Vers la page Facebook de Code Rouge Info'
  }
];

const year = new Date().getFullYear();
---

<footer
  class="bg-rolling-stone-900 text-white
    px-6 py-10
    md:px-28 md:py-8
    text-xs space-y-4"
>
  <section
    class="flex flex-col gap-8
    md:flex-row md:justify-between md:items-center"
  >
    <img
      src="/images/logo-rond.svg"
      alt="Logo de Code Rouge Info"
      class="w-20 mx-auto md:mx-0"
    />

    <NavigationTree />
  </section>
  <div class="border-t border-white/20 w-full"></div>
  <section
    class="flex flex-col gap-4
    md:flex-row md:justify-between md:items-center"
  >
    <p class="text-center md:text-left">
      &copy; {year} Code Rouge Info — Tous droits réservés
    </p>
    <div class="flex justify-center gap-6 text-2xl">
      {
        SOCIAL_LINKS.map((link) => (
          <a
            href={link.href}
            target="_blank"
            aria-label={link.ariaLabel}
            class="text-white text-2xl hover:text-red-600 transition-colors"
          >
            {<link.Icon />}
          </a>
        ))
      }
    </div>
  </section>
</footer>
