---
import Logo from '../atoms/Logo.astro';
import NavBar from './Navbar.tsx';
import SideSheet from './Sheet';
---

<header
  class="header flex fixed z-50 items-center justify-between w-full
         bg-shark-950 text-shark-100 min-h-30
         border-b border-shark-900"
>
  <Logo />
  <div class="lg:hidden">
    <SideSheet client:load />
  </div>
  <div class="hidden lg:block">
    <NavBar client:load />
  </div>
</header>
