@import "tailwindcss";


@theme {
  
  /* DEV ONLY */
  --color-rolling-stone-50: #f5f6f6;
  --color-rolling-stone-100: #e5e7e8;
  --color-rolling-stone-200: #ced1d3;
  --color-rolling-stone-300: #acb1b4;
  --color-rolling-stone-400: #82898e;
  --color-rolling-stone-500: #71797e;
  --color-rolling-stone-600: #585e62;
  --color-rolling-stone-700: #4b4f53;
  --color-rolling-stone-800: #424548;
  --color-rolling-stone-900: #3a3d3f;
  --color-rolling-stone-950: #242628;
}