---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import ScreenSize from '../components/devComponent/ScreenSize.tsx';

import '../styles/normalize.css';
import '../styles/global.css';
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Code Rouge Info est une association loi 1901 qui a pour but de sensibiliser la population aux risques de feux d'espaces naturels et de promouvoir les intervenants de la Sécurité Civile et de la Défense par la photographie et la vidéographie."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Code Rouge Info</title>
  </head>
  <body>
    <div class="flex flex-col min-h-screen overflow-y-hidden">
      <Header />
      <main
        class="flex-1 bg-shark-950 px-16 flex flex-col space-y-4 pb-4 pt-30"
      >
        <slot />
      </main>
      <Footer />
    </div>
    <!-- <ScreenSize client:load /> -->
  </body>
</html>
